body {
  font-family: Arial;
  background: #0b1220;
  color: white;
  padding: 20px;
}

.center {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:100vh;
}

.container {
  display:flex;
  justify-content:center;
}

.card {
  background:#111827;
  padding:15px;
  border-radius:10px;
  width:280px;
}

button {
  width:100%;
  margin:5px 0;
  padding:10px;
  background:#22c55e;
  border:none;
  color:white;
}

.categories {
  text-align:center;
  margin:10px;
}

.panier {
  margin-top:20px;
  background:#0f172a;
  padding:15px;
  border-radius:10px;
}

.theme-btn {
  position:fixed;
  top:10px;
  right:10px;
}

body.light {
  background:#f3f4f6;
  color:black;
}

body.light .card,
body.light .panier {
  background:white;
}
